.wrapper {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    width: 100%;
    overflow-x: hidden;
}
body, header, div, section, a, span {
    transition: all 0.3s;
}
.sticky-active {
    display: flex;
    background: #14273c;
    border-bottom: 1px solid #14273c;
    content: '';
    width: 100%;
    position: fixed;
    top: 0em;
    z-index: 10;
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 10;
    background: transparent;
}
.logo {
    display: flex;
    position: relative;
    width: 117px;
    height: 26px;
    object-fit: contain;
}
.main-screen {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 1072px;
    background: url('../img/img-header-background.png') no-repeat top center #ffffff;
    background-size: 100%;
    padding-top: 148px;
}
.main-screen__title {
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    padding: 0 14%;
    margin-bottom: 20px;
}
.main-screen__subtitle {
    display: flex;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    justify-content: center;
    align-content: center;
    padding: 0 23%;
    margin-bottom: 44px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}
.main-screen__big-img {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 64px;
    z-index: 3;
}
.main-screen__btn-block {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
}
.main-screen__btn-play-link {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin-left: 60px;
    letter-spacing: 0.5px;
    color: #00b083;
    text-decoration: none;
}
.main-screen__btn-play-link:hover {
    text-decoration: none;
    color: #00b083;
    opacity: 0.7;
}
.main-screen__btn-play {
    display: inline-flex;
    position: relative;
    width: 24px;
    height: 24px;
    background: url('../img/play-btn.svg') no-repeat center center rgba(255,255,255,0.1);
    background-size: 10px;
    background-position-x: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.main-screen__bottom-corner {
    display: flex;
    position: absolute;
    width: 100%;
    height: 415px;
    bottom: 360px;
    z-index: 2;
}
.main-screen__bottom-corner-mobile {
    display: none;
}
.main-screen__pirate-img {
    display: flex;
    position: absolute;
    height: 742px;
    left: 140px;
    bottom: 180px;
    z-index: 1;
}
.main-screen__shark-img {
    display: flex;
    position: absolute;
    height: 378px;
    right: 30px;
    bottom: 290px;
    z-index: 8;
}
.fillyourpower-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 154px 0px 0px;
}
.page-title {
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #273f5b;
    margin-bottom: 18px;
}
.page-title::before {
    content: "";
    display: flex;
    position: absolute;
    top: -20px;
    left: 18px;
    width: 50px;
    height: 5px;
    background: #00b083;
}
.page-title-center-s {
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #273f5b;
}
.page-text {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #273f5b;
}
.page-text-divider {
    display: flex;
    position: relative;
    width: 100%;
    height: 1px;
    border: solid 1px #e7ecf2; 
    margin: 35px 0px;
}

.fillyourpower-screen__col {
    display: inline-flex;
    position: relative;
    width: 50%;
    flex-flow: column wrap;
}
.fillyourpower-screen__icon-block {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fillyourpower-screen__icon {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-friendly-user.svg') no-repeat center center;
}
.fillyourpower-screen__icon-2 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-one-dashboard.svg') no-repeat center center;
}
.fillyourpower-screen__icon-title {
    display: flex;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #273f5b;
    padding-left: 14px;
    padding-right: 20px;
}
.fillyourpower-screen__icon-text {
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.44px;
    color: #273f5b;
    padding-top: 15px;
    padding-bottom: 40px;
}
.pt-190 {
    padding-top: 190px;
}
.mb-42 {
    margin-bottom: 42px;
}
.fillyourpower-screen__cms-container {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}
.fillyourpower-screen__cms-logo {
    display: inline-flex;
    position: relative;
    height: 34px;
    object-fit: contain;
    margin: 0 30px 30px;
}
.fillyourpower-screen__cms-other {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #b2bac5;
    text-decoration: underline;
    transition: all 0.3s;
    margin-left: 30px;
    margin-bottom: 30px;
}
.fillyourpower-screen__cms-other:hover {
    color: #b2bac5;
    text-decoration: none;
}
.fillyourpower-screen__pirate {
    display: flex;
    position: absolute;
    width: 600px;
    right: 100px;
    z-index: 4;
    top: 135px;
}
.fillyourpower-screen__pirate-bg {
    display: flex;
    position: absolute;
    width: 600px;
    right: 0px;
    z-index: 3;
    top: -21px;
}
.savehours-screen__pirate {
    display: flex;
    position: absolute;
    height: 680px;
    left: 200px;
    z-index: 4;
    top: 135px;
}
.savehours-screen__pirate-bg {
    display: flex;
    position: absolute;
    width: 600px;
    left: 0px;
    z-index: 3;
    top: 106px;
}
.fillyourpower-screen__cms-divider {
    display: block;
    position: relative;
    width: 80%;
    height: 1px;
    border: solid 1px #e7ecf2;
    margin: 20px auto 0px;
}
.savehours-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 154px 0px 300px;
}
.savehours-screen__icon-1 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-malware-descriptions.svg') no-repeat center center;
}
.savehours-screen__icon-2 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-vulnerability.svg') no-repeat center center;
}
.savehours-screen__icon-3 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-safest-automatic.svg') no-repeat center center;
}
.savehours-screen__icon-4 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-realtime-website-protection.svg') no-repeat center center;
}
.products-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: linear-gradient(to top, #fcfdfd, #f7f9fb);
    padding: 130px 0px 300px;
}
.products-screen__tab-controls {
    display: inline-flex;
    position: relative;
    border-radius: 55px;
    box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.08);
    background-color: #ffffff;
    padding: 14px 16px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.products-screen__container {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top:-36px;
}
.products-screen__tab-img {
    display: flex;
    position: relative;
    height: 178px;
    margin-bottom: 52px;
}
.products-screen__tab-title {
    font-size: 32px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #273f5b;
    margin-top: 0;
    margin-bottom: 16px;
}
.products-screen__tab-text {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #273f5b;
    padding-right: 10%;
    margin-bottom: 45px;
}
.products-screen__tab-link {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #00b083;   
}
.products-screen__tab-link-icon {
    display: inline-flex;
    position: relative;
    width: 24px;
    height: 24px;
    background: url('../img/ic-arrow-copy.svg') no-repeat center center;
    background-size: 6px 8px;
    margin-left: 9px;
    transition: all 0.3s;
}
.products-screen__tab-link:hover {
    color: #00b083;   
    text-decoration: none;
}
.products-screen__tab-link:hover .products-screen__tab-link-icon {
    margin-left: 15px;
}
.product-screen__corner {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: -3px;
    z-index: 2;
}
.mb-7 {
    margin-bottom: 70px;
}
.takeyourplace-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 30px 0px 180px;
}
.takeyourplace-screen__icon-1 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-real-time-interaction.svg') no-repeat center center;
}
.takeyourplace-screen__icon-2 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-no-constant-page.svg') no-repeat center center;
}
.takeyourplace-screen__icon-3 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    top: 1px;
    flex-shrink: 0;
    background: url('../img/ic-a-harmonious-blend.svg') no-repeat center center;
}
.takeyourplace-screen__icon-4 {
    display: flex;
    position: relative;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    background: url('../img/ic-tools-automatically.svg') no-repeat center center;
}
.takeyourplace-screen__icon-block {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.takeyourplace-screen__pirate {
    display: flex;
    position: absolute;
    width: 87%;
    right: 0px;
    top: 28px;
}
.extracash-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: url('../img/img-make-some-extra-cash-background.png') no-repeat top center;
    background-size: cover;
    padding: 118px 0px 118px;
}
.extracash-screen__container {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.extracash-screen__title {
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
    padding: 0 15%;
}
.extracash-screen__suptitle {
    display: flex;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    justify-content: center;
    align-content: center;
    padding: 0 23%;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(255,255,255,0.8);
}
.customereview-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 100px 0px;
}
.customereview-screen__review-text {
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #273f5b;
    padding-bottom: 30px;
    padding-right: 20%;
}
.customereview-screen__review-block {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.customereview-screen__review-photo {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.customereview-screen__review-name {
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #212b36;
    margin-bottom: 0;
}
.customereview-screen__review-name small {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #637381;
}
button:focus {
    outline: none;
}

.mentioned-screen {
    display: flex;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top, #fcfdfd, #f7f9fb);
    padding: 120px 0px 140px;
}
.page-title-center {
    font-size: 44px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #273f5b;
    margin-bottom: 16px;
    text-align: center;
}
.mentioned-screen__subtitle {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 64px;
    color: #273f5b;
}
.mentioned-screen__content-box {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.16);
    background-color: #ffffff;
    padding: 60px 120px 30px;
    justify-content: center;
    align-content: center;
}
.mentioned-screen__content-box-logo {
    display: block;
    position: relative;
    height: 50px;
    object-fit: contain;
    margin: 0 auto 38px;
}
.mentioned-screen__content-box-title {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    justify-content: center;
    text-align: center;
    color: #212b36;
    margin-bottom: 14px;
}
.mentioned-screen__content-box-text {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.5px;
    text-align: center;
    color: #273f5b;
}
.mentioned-screen__content-box-controls {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 80px;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.mentioned-screen__content-box-controls li {
    display: flex;
    position: relative;
    padding: 0 40px;
}
.mentioned-screen__content-box-controls li a.active .mentioned-screen__content-box-controls-logo {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    opacity: 1;
}
.mentioned-screen__content-box-controls-logo {
    display: flex;
    position: relative;
    height: 42px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.4;
    transition: all 0.3s;
}
.mentioned-screen__content-box-controls-link {
    text-decoration: none;
}
.welcomeclub-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 120px 0px 80px;
}
.welcomeclub-screen__subtitle {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    padding: 0 23%;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 44px;
    color: #273f5b;
}
.welcomeclub-screen__big-numbers {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    font-stretch: normal;
    justify-content: center;
    align-content: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #00b083;
    margin-bottom: 10px;
}
.welcomeclub-screen__header {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #273f5b;
    margin-bottom: 40px;
}
.controlover-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 80px 0px 130px;
}
.controlover-screen__pirate {
    display: flex;
    position: relative;
    width: 80%;
}
.controlover-screen__page-text {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.5px;
    padding-right: 20%;
    color: #273f5b;
}
.plans-screen {
    display: flex;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top, #fcfdfd, #f7f9fb);
    padding: 0 0 70px;
}
.plans-screen__list {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 94px;
    flex-flow: column wrap;
    justify-content: flex-start;
    list-style: none;
}
.plans-screen__list li:first-of-type {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6d7987;
    text-decoration: underline;
}
.plans-screen__list li {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #273f5b;
    margin-bottom: 32px;
    padding-right: 20%;
}
.plans-screen__plan-box {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.16);
    padding: 20px 20px 40px;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.plans-screen__plan-name {
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #2f5489;
    margin-bottom: 30px;
}
.plans-screen__plan-name-mul {
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #2f5489;
    margin-bottom: 21px;
}
.plans-screen__plan-websites {
    display: flex;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #273f5b;
    margin-bottom: 9px;
}
.plans-screen__plan-websites-caption {
    display: flex;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6b7a8e;
}
.plans-screen__plan-divider {
    display: block;
    position: relative;
    width: 109px;
    height: 1px;
    border: solid 1px #e7ecf2;
    margin: 24px auto 20px;
}
.plans-screen__plan-price {
    display: flex;
    position: relative;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    font-size: 32px;
    color: #00b083;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: flex-end;
    align-items: baseline;
    margin-bottom: 21px;
}
.plans-screen__plan-price small {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #6b7a8e;
}
.plans-screen__period {
    display: flex;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    justify-content: center;
    letter-spacing: normal;
    text-align: center;
    color: #273f5b;
    margin-bottom: 34px;
}
.plans-container {
    top:-144px;
    
}
.plans-screen__plan-list {
    display: flex;
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
    flex-flow: column wrap;
}
.plans-screen__plan-list li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.plans-screen__plan-list li.big {
    margin-bottom: 56px;
}
.plans-screen__plan-list-check {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background: url('../img/check.svg') no-repeat center center;
    background-size: 100%;
}
.plans-screen__plan-list-minus {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background: url('../img/minus.svg') no-repeat center center;
    background-size: 100%;
}
.plans-screen__plan-list-clients {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #273f5b;
}
.plans-screen__plan-multiple-control {
    display: flex;
    position: relative;
    width: auto;
    padding: 3px 5px;
    list-style: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #f7f9fb;
    border-radius: 45px;
    margin-bottom: 4px;
}
.plans-screen__plan-multiple-control li {
    display: flex;
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.plans-screen__plan-multiple-control li a.active {
    background: #00b083;
    color: #ffffff;
    text-decoration: none;
}
.plans-screen__plan-multiple-control li a:hover {
    background: #00b083;
    color: #ffffff;
    text-decoration: none;
}
.plans-screen__plan-multiple-control li a {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    padding: 4px;
    border-radius: 50%;
    width: 32px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    transition: all 0.3s;
    color: #6b7a8e;
}
.hidden-desk {
    display: none;
}
.integrations-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #f4f8fc;
    padding: 50px 0px 60px;
}
.integrations-screen__logo {
    display: block;
    position: relative;
    width: 170px;
    height: 90px;
    object-fit: contain;
    margin: 0 auto 30px;
}
.integrations-screen__header {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #273f5b;
    justify-content: center;
    margin-bottom: 40px;
}
.integrations-screen__subtitle {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    padding: 0 23%;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 67px;
    color: #273f5b;
}
.integrations-screen__block {
    display: flex;
    position: relative;
    border-radius: 4px;
    border: solid 1px #00b083;
    background: #ffffff;
    width: 80%;
    padding: 40px 50px 40px;
    top: -140px;
    margin: 0 auto;
    flex-flow: row nowrap;
}
.integrations-screen__block-col-l {
    display: flex;
    position: relative;
    width: 60%;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
}
.integrations-screen__block-col-r {
    display: flex;
    position: relative;
    width: 40%;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
}
.integrations-screen__block-col-header {
    font-size: 18px;
    display: flex;
    position: relative;
    width: 100%;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #2f5489;
    margin-bottom: 8px;
}
.integrations-screen__block-col-text {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #273f5b;
    margin-bottom: 0;
}
.integrations-screen__plan-price {
    display: flex;
    position: relative;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    font-size: 32px;
    color: #00b083;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: flex-end;
    align-items: baseline;
    margin-bottom: 0px;
}
.integrations-screen__plan-price small {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #6b7a8e;
}
.integrations-screen__block-col-header2 {
    font-size: 18px;
    display: flex;
    position: relative;
    width: auto;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #2f5489;
    margin-bottom: 8px;
}
.news-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 100px 0px 80px;
}
.news-screen__news-cover {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
}
.news-screen__news-date {
    display: flex;
    position: relative;
    opacity: 0.7;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.51px;
    color: #6d7987;
}
.news-screen__news-title {
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #212b36;
    margin-bottom: 10px;
    padding-right: 10%;
}
.news-screen__news-announce {
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    padding-right: 10%;
    line-height: 1.86;
    letter-spacing: 0.5px;
    color: #273f5b;
    margin-bottom: 30px;  
}
.paymentsys-screen {
    display: flex;
    position: relative;
    width: 100%;
    padding: 50px 0px 40px;
    background: #273f5b;
}
.paymentsys-screen__container {
    display: flex;
    position: relative;
    width: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.paymentsys-screen__logo {
    width: 191px;
    height: 55px;
    object-fit: contain;
    margin: 0 25px 10px;
}
footer {
    display: flex;
    position: relative;
    width: 100%;
    padding: 60px 0px;
    background: #1a3049;
}
.footer-logo {
    width: 117px;
    height: 27px;
    object-fit: contain;
    margin-bottom: 40px;
}
.footer__caption {
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    display: flex;
    position: relative;
    margin-bottom: 16px;
}
.footer__menu-caption {
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    display: flex;
    position: relative;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.footer__link {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    transition: all 0.3s;
}
.footer__link:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.footer__menu {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: column wrap;
    padding: 0;
    margin-bottom: 32px;
    margin-top: 0;
    list-style: none;
}
.footer__menu li {
    display: flex;
    position: relative;
    width: auto;
}
.footer__menu li a {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    transition: all 0.3s;
}
.footer__menu li a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.footer__divider {
    display: block;
    position: relative;
    height: 1px;
    opacity: 0.4;
    width: 100%;
    border: solid 1px #c9d4e7;
    margin: 20px auto 20px;
}
.footer__copyright {
    display: inline-flex;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 27px;
}
.footer__bottom-link {
    display: inline-flex;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    margin-right: 27px;
    transition: all 0.3s;
}
.footer__bottom-link:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.footer__lang-box {
    display: inline-flex;
    position: relative;
}
.footer__lang-flag {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.footer__flex-cont {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
}
.footer__social-box {
    display: inline-flex;
    position: relative;
    margin-left: auto;
    flex-flow: row nowrap;
}
.footer__social-box a {
    margin-left: 40px;
}
.footer__socila-icon {
    width: 32px;
    height: 32px;
}
.main-screen__bottom-corner-big {
    display: none;
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .main-screen__subtitle {
        padding: 0 17%;
    }
    .main-screen__title {
        padding: 0 9%;
    }
    .main-screen__bottom-corner {
        display: flex;
        position: absolute;
        width: 100%;
        height: 415px;
        bottom: 290px;
        z-index: 2;
    }
    .fillyourpower-screen {
        padding: 70px 0px 0px;
    }
    .fillyourpower-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 550px;
        right: 0px;
        z-index: 3;
        top: -21px;
    }
    .fillyourpower-screen__pirate {
        display: flex;
        position: absolute;
        width: 540px;
        right: 100px;
        z-index: 4;
        top: 135px;
    }
    .fillyourpower-screen__icon-block {
        align-items: stretch;
    }
    .takeyourplace-screen__pirate {
        top: 128px;
    }
    .savehours-screen__pirate {
        height: 620px;
    }
    .savehours-screen__pirate-bg {
        top: 66px;
    }
    .controlover-screen {
        padding: 80px 0px 180px;
    }
    .plans-screen__list li {
        padding-right: 0%;
    }
    .btn {
        padding: 15px 13px;
    }
    .integrations-screen__block {
        top: -156px;
    }
    .integrations-screen__subtitle {
        padding: 0 20%;
    }
    .paymentsys-screen__logo {
        width: 170px;
    }
    .btn-footer, .btn-group-sm > .btn {
        padding: 6px 8px!important;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 10px 40px;
    }
    .btn-lg, .btn-group-lg > .btn {
        padding: 18px 40px;
    }
    .product-screen__corner {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 2;
    }
}

@media (min-width: 1270px) and (max-width:1439px) {
    .navbar {
        padding: 15px 0px;
    }
    .savehours-screen {
        display: flex;
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 154px 0px 110px;
    }
    .product-screen__corner {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 2;
    }
    .main-screen {
        background: url('../img/img-header-background.png') no-repeat top center #ffffff;
    }
    .main-screen__subtitle {
        padding: 0 18%;
    }
    .main-screen__title {
        padding: 0 9%;
    }
    .main-screen__bottom-corner {
        bottom: 394px;
    }
    .fillyourpower-screen {
        padding: 70px 0px 0px;
    }
    .fillyourpower-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 520px;
        right: 0px;
        z-index: 3;
        top: 9px;
    }
    .fillyourpower-screen__pirate {
        display: flex;
        position: absolute;
        width: 490px;
        right: 100px;
        z-index: 4;
        top: 185px;
    }
    .fillyourpower-screen__icon-block {
        align-items: stretch;
    }
    .takeyourplace-screen__pirate {
        top: 128px;
    }
    .savehours-screen__pirate {
        height: 530px;
    }
    .savehours-screen__pirate-bg {
        top: 66px;
        width: 500px;
    }
    .controlover-screen {
        padding: 80px 0px 180px;
    }
    .plans-screen__list li {
        padding-right: 0%;
    }
    .extracash-screen__title {
        padding: 0 12%;
    }
    .extracash-screen__suptitle {
        padding: 0 12%;
    }
    .btn {
        padding: 15px 13px;
    }
    .integrations-screen__block {
        top: -156px;
    }
    .integrations-screen__subtitle {
        padding: 0 20%;
    }
    .paymentsys-screen__logo {
        width: 170px;
    }
    .btn-footer, .btn-group-sm > .btn {
        padding: 6px 8px!important;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 10px 40px;
    }
    .btn-lg, .btn-group-lg > .btn {
        padding: 18px 40px;
    }
    .products-screen {
        padding: 130px 0px 220px;
    }
    .integrations-screen__logo {
        display: block;
        position: relative;
        width: 100px;
        height: 40px;
        object-fit: contain;
        margin: 0 auto 30px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .plans-mobile__more {
        display: flex;
        position: relative;
        width: 100%;
        padding: 15px 0px;
        flex-flow: column wrap;
        justify-content: flex-start;
        border-top: solid 2px #d0d4d8;
    }
    .plans-mobile__more-btn {
        display: flex;
        position: relative;
        width: 100%;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6d7987;
    }
    .plans-mobile__more-btn::after {
        content: "";
        position: absolute;
        right: 0;
        width: 12px;
        height: 7px;
        top: 3px;
        background: url('../img/angle-down.svg') no-repeat center center;
        background-size: 12px;
    }
    .plans-mobile__more-btn.active::after {
        content: "";
        position: absolute;
        right: 0;
        width: 12px;
        height: 7px;
        top: 3px;
        background: url('../img/angle-down.svg') no-repeat center center;
        transform: rotate(180deg);
        background-size: 12px;
    }
    .plans-mobile__more-list {
        display: none;
        position: relative;
        width: 100%;
        padding: 20px 0px 0px;
        flex-flow: column wrap;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .plans-mobile__more-list.show {
        display: flex;
    }
    .plans-mobile__more-list li {
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #273f5b;
        margin-bottom: 4px;
        padding-right: 0%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        line-height: normal;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #ffffff;
    }
    .justify-content-end .nav-item {
        display: flex;
        position: relative;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
    }
    .plans-mobile__block {
        display: flex;
        position: relative;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.16);
        background-color: #ffffff;
        padding: 24px 16px;
        flex-flow: column wrap;
        margin-bottom: 16px;
    }
    .plans-mobile__flex-container {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: 16px;
    }
    .plans-mobile__flex-container-price {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: 0px;
    }
    .plans-screen__plan-name {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        color: #2f5489;
        margin-bottom: 0;
    }
    .plans-screen__plan-websites {
        display: flex;
        position: relative;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #273f5b;
        margin-bottom: 0px;
        margin-right: 8px;
    }
    .plans-screen__plan-price {
        font-size: 24px;
    }
    .plans-screen__list {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .plans-screen__list li:first-of-type {
        font-size: 12px;
    }
    .plans-screen__list li {
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #273f5b;
        margin-bottom: 4px;
        padding-right: 0%;
    }
    .navbar {
        padding: 15px 0px;
    }
    .plans-screen__plan-multiple-control {
        display: flex;
        position: relative;
        width: auto;
        padding: 0;
        list-style: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: transparent;
        border-radius: 45px;
        margin-bottom: 0px;
        top: -2px;
    }
    .plans-screen__plan-multiple-control li a {
        font-size: 12px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        padding: 4px;
        border-radius: 50%;
        width: 27px;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        transition: all 0.3s;
        color: #6b7a8e;
    }
    .plans-screen {
        display: flex;
        position: relative;
        width: 100%;
        background-image: linear-gradient(to top, #fcfdfd, #f7f9fb);
        padding: 70px 0 70px;
    }
    .integrations-screen__block {
        display: flex;
        position: relative;
        border-radius: 4px;
        border: solid 1px #00b083;
        background: #ffffff;
        width: 80%;
        padding: 40px 50px 40px;
        top: -92px;
        margin: 0 auto;
        flex-flow: row nowrap;
    }
    .hidden-desk {
        display: block;
    }
    .navbar {
        padding: 15px 0px;
    }
    .products-screen__tab-img {
        display: flex;
        position: relative;
        height: 105px;
        margin-bottom: 32px;
    }
    .main-screen__title {
        font-size: 28px;
        line-height: 1.32;
        padding: 0 9%;
    }
    .main-screen {
        background: url('../img/img-header-background-800.png') no-repeat top center #ffffff;
        background-size: contain;
        min-height: 950px;
    }
    .main-screen__bottom-corner {
        bottom: 250px;
    }
    .main-screen__subtitle {
        font-size: 16px;
        line-height: 1.36;
        padding: 0 16%;
    }
    .page-text {
        font-size: 14px;
        line-height: 1.71;
    }
    .page-title {
        font-size: 28px;
    }
    .fillyourpower-screen__pirate {
        display: flex;
        position: absolute;
        width: 290px;
        right: 40px;
        z-index: 4;
        top: 195px;
    }
    .fillyourpower-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 310px;
        right: 0px;
        z-index: 3;
        top: 99px;
    }
    .fillyourpower-screen {
        padding: 94px 0px 0px;
    }
    .fillyourpower-screen__icon-title {
        font-size: 14px;
    }
    .fillyourpower-screen__icon-text {
        font-size: 14px;
        line-height: 1.7;
    }
    .page-title-center-s {
        font-size: 28px;
    }
    .fillyourpower-screen__cms-logo {
        display: inline-flex;
        position: relative;
        height: 24px;
        object-fit: contain;
        margin: 0 30px 30px;
    }
    .fillyourpower-screen__cms-other {
        font-size: 16px;
    }
    .savehours-screen__pirate {
        display: flex;
        position: absolute;
        height: 430px;
        left: 60px;
        z-index: 4;
        top: 135px;
    }
    .savehours-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 320px;
        left: 0px;
        z-index: 3;
        top: 186px;
    }
    .savehours-screen {
        display: flex;
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 154px 0px 90px;
    }
    .takeyourplace-screen {
        display: flex;
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 30px 0px 50px;
    }
    .mentioned-screen__content-box-controls-logo {
        display: flex;
        position: relative;
        height: 27px;
    }
    .footer__flex-cont {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
    }
    .footer__social-box {
        display: inline-flex;
        position: relative;
        margin-left: auto;
        flex-flow: row nowrap;
        margin-top: 0px;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 10px 40px;
        text-transform: uppercase;
        border-radius: 45px;
        font-size: 14px;
        white-space: nowrap;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
    }
    .footer__social-box a {
        margin-left: 20px;
        margin-right: 0px;
    }
    .fillyourpower-screen__icon-block {
        align-items: stretch;
    }
    .fillyourpower-screen__icon-title {
        padding-right: 0;
    }
    .products-screen__tab-title {
        font-size: 28px;
    }
    .products-screen__tab-text {
        font-size: 14px;
    }
    .products-screen {
        padding: 130px 0px 200px;
    }
    .takeyourplace-screen__pirate {
        top: 88px;
    }
    .extracash-screen__title {
        font-size: 28px;
        padding: 0 5%;
    }
    .page-title-center {
        font-size: 28px;
    }
    .welcomeclub-screen__subtitle {
        font-size: 16px;
    }
    .hidden-mobile {
        display: none;
    }
    .integrations-screen__logo {
        display: block;
        position: relative;
        width: 100px;
        height: 40px;
        object-fit: contain;
        margin: 0 auto 30px;
    }
    .integrations-screen__header {
        font-size: 16px;
    }
    .paymentsys-screen__logo {
        width: 120px;
        height: 55px;
        margin: 0 25px 10px;
    }
    .paymentsys-screen {
        padding: 30px 0px 20px;
    }
}
@media (min-width:1024px) and (max-width:1269px) {
    .btn-sm, .btn-group-sm > .btn {
        padding: 10px 40px;
        text-transform: uppercase;
        border-radius: 45px;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
    }
    .plans-mobile__block {
        display: flex;
        position: relative;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.16);
        background-color: #ffffff;
        padding: 24px 16px;
        flex-flow: column wrap;
        margin-bottom: 16px;
    }
    .plans-mobile__flex-container {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: 16px;
    }
    .plans-mobile__flex-container-price {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: 0px;
    }
    .plans-screen__plan-name {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        color: #2f5489;
        margin-bottom: 0;
    }
    .plans-screen__plan-websites {
        display: flex;
        position: relative;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #273f5b;
        margin-bottom: 0px;
        margin-right: 8px;
    }
    .plans-screen__plan-price {
        font-size: 24px;
    }
    .plans-screen__list {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .plans-screen__list li:first-of-type {
        font-size: 12px;
    }
    .plans-screen__list li {
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #273f5b;
        margin-bottom: 4px;
        padding-right: 0%;
    }
    .navbar {
        padding: 15px 0px;
    }
    .plans-screen__plan-multiple-control {
        display: flex;
        position: relative;
        width: auto;
        padding: 0;
        list-style: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: transparent;
        border-radius: 45px;
        margin-bottom: 0px;
        top: -2px;
    }
    .plans-screen__plan-multiple-control li a {
        font-size: 12px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        padding: 4px;
        border-radius: 50%;
        width: 27px;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        transition: all 0.3s;
        color: #6b7a8e;
    }
    .plans-screen {
        display: flex;
        position: relative;
        width: 100%;
        background-image: linear-gradient(to top, #fcfdfd, #f7f9fb);
        padding: 70px 0 70px;
    }
    .integrations-screen__block {
        display: flex;
        position: relative;
        border-radius: 4px;
        border: solid 1px #00b083;
        background: #ffffff;
        width: 80%;
        padding: 40px 50px 40px;
        top: -92px;
        margin: 0 auto;
        flex-flow: row nowrap;
    }
    .hidden-desk {
        display: block;
    }
    .navbar {
        padding: 15px 0px;
    }
    .products-screen__tab-img {
        display: flex;
        position: relative;
        height: 105px;
        margin-bottom: 32px;
    }
    .main-screen__title {
        font-size: 28px;
        line-height: 1.32;
        padding: 0 9%;
    }
    .main-screen {
        background: url('../img/img-header-background-800.png') no-repeat top center #ffffff;
        background-size: contain;
    }
    .main-screen__bottom-corner {
        bottom: 250px;
    }
    .main-screen__subtitle {
        font-size: 16px;
        line-height: 1.36;
        padding: 0 16%;
    }
    .page-text {
        font-size: 14px;
        line-height: 1.71;
    }
    .page-title {
        font-size: 28px;
    }
    .fillyourpower-screen__pirate {
        display: flex;
        position: absolute;
        width: 450px;
        right: 40px;
        z-index: 4;
        top: 195px;
    }
    .fillyourpower-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 430px;
        right: 0px;
        z-index: 3;
        top: 99px;
    }
    .fillyourpower-screen {
        padding: 94px 0px 0px;
    }
    .fillyourpower-screen__icon-title {
        font-size: 14px;
    }
    .fillyourpower-screen__icon-text {
        font-size: 14px;
        line-height: 1.7;
    }
    .page-title-center-s {
        font-size: 28px;
    }
    .fillyourpower-screen__cms-logo {
        display: inline-flex;
        position: relative;
        height: 24px;
        object-fit: contain;
        margin: 0 30px 30px;
    }
    .fillyourpower-screen__cms-other {
        font-size: 16px;
    }
    .savehours-screen__pirate {
        display: flex;
        position: absolute;
        height: 580px;
        left: 60px;
        z-index: 4;
        top: 135px;
    }
    .savehours-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 420px;
        left: 0px;
        z-index: 3;
        top: 186px;
    }
    .fillyourpower-screen__icon-block {
        align-items: stretch;
    }
    .fillyourpower-screen__icon-title {
        padding-right: 0;
    }
    .products-screen__tab-title {
        font-size: 28px;
    }
    .products-screen__tab-text {
        font-size: 14px;
    }
    .products-screen {
        padding: 130px 0px 200px;
    }
    .takeyourplace-screen__pirate {
        top: 88px;
    }
    .extracash-screen__title {
        font-size: 28px;
        padding: 0 5%;
    }
    .page-title-center {
        font-size: 28px;
    }
    .welcomeclub-screen__subtitle {
        font-size: 16px;
    }
    .hidden-mobile {
        display: none;
    }
    .integrations-screen__logo {
        display: block;
        position: relative;
        width: 100px;
        height: 40px;
        object-fit: contain;
        margin: 0 auto 30px;
    }
    .integrations-screen__header {
        font-size: 16px;
    }
    .paymentsys-screen__logo {
        width: 120px;
        height: 55px;
        margin: 0 25px 10px;
    }
    .paymentsys-screen {
        padding: 30px 0px 20px;
    }
}
@media (min-width: 320px) and (max-width:767px) {
    .main-screen__title {
        font-size: 18px;
        padding: 0;
        margin-bottom: 20px;
    }
    header {
        display: flex;
        position: fixed;
        width: 100%;
        top:0;
        z-index: 10;
        background: #14273c;
        border-bottom: 1px solid #14273c;
    }
    .main-screen {
        background: url('../img/img-header-background-mobile.png') no-repeat top center #ffffff;
        background-size: cover;
        min-height: 662px;
    }
    .main-screen__subtitle {
        display: flex;
        position: relative;
        font-size: 14px;
        padding: 0;
    }
    .main-screen__bottom-corner {
        display: flex;
    }
    .main-screen__big-img {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 70px;
        z-index: 3;
    }
    .main-screen__btn-play-link {
        margin-left: 0;
        margin-top: 20px;
    }
    .fillyourpower-screen__pirate {
        display: none;
    }
    .fillyourpower-screen__pirate-bg {
        display: none;
    }
    .page-title {
        font-size: 18px;
    }
    .page-text {
        font-size: 12px;
    }
    .fillyourpower-screen__icon-title {
        font-size: 14px;
    }
    .fillyourpower-screen__icon-text {
        font-size: 12px;
        line-height: 1.5;
        padding-bottom: 40px;
    }
    .pt-190 {
        padding-top: 90px;
    }
    .page-title-center-s {
        font-size: 18px;
    }
    .fillyourpower-screen__cms-container {
        flex-flow: row wrap;
    }
    .fillyourpower-screen__cms-logo {
        display: inline-flex;
        position: relative;
        height: 17px;
        object-fit: contain;
        margin: 0 30px 30px;
    }
    .fillyourpower-screen__cms-other {
        font-size: 12px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .savehours-screen__pirate {
        display: none;
    }
    .savehours-screen__pirate-bg {
        display: none;
    }
    .savehours-screen {
        padding: 94px 0px 100px;
    }
    .products-screen__tab-controls {
        border-radius: 39px;
        margin-bottom: 30px;
    }
    .nav-pills .nav-link {
        border-radius: 45px;
        font-size: 12px;
    }
    .products-screen__tab-img {
        display: flex;
        position: relative;
        height: 64px;
        margin-bottom: 16px;
    }
    .products-screen__container {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
        top: -66px;
    }
    .products-screen__tab-title {
        font-size: 18px;
    }
    .products-screen__tab-text {
        font-size: 12px;
    }
    .products-screen__tab-link {
        font-size: 12px;
    }
    .product-screen__corner {
        display: none;
    }
    .products-screen {
        padding: 130px 0px 100px;
    }
    .takeyourplace-screen__pirate {
        display: none;
    }
    .takeyourplace-screen {
        padding: 30px 0px 30px;
    }
    .extracash-screen__title {
        font-size: 18px;
        padding: 0;
    }
    .extracash-screen__suptitle {
        font-size: 12px;
        padding: 0;
    }
    .extracash-screen {
        background: url(../img/img-make-some-extra-cash-background-mobile.png) no-repeat top center;
        background-size: cover;
        padding: 68px 0px;
    }
    .customereview-screen__review-text {
        font-size: 12px;
        padding: 0;
        padding-right: 31px;
    }
    .customereview-screen__review-name {
        font-size: 14px;
    }
    .customereview-screen__review-photo {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .page-title-center {
        font-size: 18px;
    }
    .mentioned-screen__subtitle {
        font-size: 12px;
    }
    .mentioned-screen {
        padding: 60px 0px 60px;
    }
    .mentioned-screen__content-box-title {
        font-size: 14px;
    }
    .mentioned-screen__content-box-text {
        font-size: 12px;
    }
    .mentioned-screen__content-box {
        padding: 20px 10px 30px;
    }
    .mentioned-screen__content-box-logo {
        display: block;
        position: relative;
        height: 32px;
        object-fit: contain;
        margin: 0 auto 28px;
    }
    .mentioned-screen__content-box-controls {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 60px;
        padding: 0;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    .mentioned-screen__content-box-controls li {
        display: inline-flex;
        width: auto;
        position: relative;
        padding: 20px 10px;
    }
    .welcomeclub-screen__subtitle {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        padding: 0;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 44px;
        color: #273f5b;
    }
    .controlover-screen__pirate {
        display: none;
    }
    .welcomeclub-screen {
        padding: 60px 0px 60px;
    }
    .welcomeclub-screen__big-numbers {
        font-size: 18px;
    }
    .welcomeclub-screen__header {
        font-size: 12px;
    }
    .controlover-screen {
        padding: 40px 0px 50px;
    }
    .controlover-screen__page-text {
        font-size: 12px;
        padding-right: 0;
        color: #273f5b;
    }
    .hidden-mobile {
        display: none;
    }
    .integrations-screen__block {
        display: flex;
        position: relative;
        border-radius: 4px;
        border: solid 1px #00b083;
        background: #ffffff;
        width: 100%;
        padding: 20px 20px 30px;
        top: auto;
        margin: 0 auto 50px;
        flex-flow: column wrap;
    }
    .plans-screen {
        display: flex;
        position: relative;
        width: 100%;
        background-image: linear-gradient(to top, #fcfdfd, #f7f9fb);
        padding: 30px 0 70px;
    }
    .integrations-screen__block-col-l {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        margin-bottom: 30px;
    }
    .integrations-screen__block-col-header {
        text-align: center;
    }
    .integrations-screen__block-col-text {
        font-size: 12px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        text-align: center;
        letter-spacing: 0.5px;
        color: #273f5b;
        margin-bottom: 0;
    }
    .integrations-screen__block-col-r {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .integrations-screen__subtitle {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        padding: 0;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 67px;
        color: #273f5b;
    }
    .integrations-screen__logo {
        display: block;
        position: relative;
        width: 80px;
        height: 50px;
        object-fit: contain;
        margin: 0 auto 30px;
    }
    .integrations-screen__header, .news-screen__news-date {
        font-size: 12px;
    }
    .paymentsys-screen__logo {
        width: 112px;
        height: 55px;
        object-fit: contain;
        margin: 0 15px 10px;
    }
    .mobile-mt-5 {
        margin-top: 50px;
    }
    .footer__flex-cont {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row wrap;
    }
    .footer__lang-box {
        display: inline-flex;
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer__social-box {
        display: flex;
        position: relative;
        /* margin-left: 0; */
        width: 100%;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-flow: row wrap;
    }
    .footer__social-box a {
        margin-left: 20px;
        margin-right: 20px;
    }
    .hidden-desk {
        display: block;
    }
    .plans-mobile__block {
        display: flex;
        position: relative;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.16);
        background-color: #ffffff;
        padding: 24px 16px;
        flex-flow: column wrap;
        margin-bottom: 16px;
    }
    .plans-mobile__flex-container {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: 16px;
    }
    .plans-mobile__flex-container-price {
        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: 0px;
    }
    .plans-screen__plan-name {
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        color: #2f5489;
        margin-bottom: 0;
    }
    .plans-screen__plan-websites {
        display: flex;
        position: relative;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #273f5b;
        margin-bottom: 0px;
        margin-right: 8px;
    }
    .plans-screen__plan-price {
        font-size: 24px;
    }
    .plans-screen__list {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .plans-screen__list li:first-of-type {
        font-size: 12px;
    }
    .plans-screen__list li {
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #273f5b;
        margin-bottom: 4px;
        padding-right: 0%;
    }
    .navbar {
        padding: 10px 0px;
    }
    .plans-screen__plan-multiple-control {
        display: flex;
        position: relative;
        width: auto;
        padding: 0;
        list-style: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: transparent;
        border-radius: 45px;
        margin-bottom: 0px;
        top: -2px;
    }
    .plans-screen__plan-multiple-control li a {
        font-size: 12px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        padding: 4px;
        border-radius: 50%;
        width: 27px;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        transition: all 0.3s;
        color: #6b7a8e;
    }
    .footer__bottom-link {
        display: inline-flex;
        position: relative;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: rgba(255,255,255,0.7);
        text-decoration: none;
        margin-right: 17px;
        transition: all 0.3s;
    }
    .footer__copyright {
        display: inline-flex;
        position: relative;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-right: 27px;
    }
    .plans-mobile__more {
        display: flex;
        position: relative;
        width: 100%;
        padding: 15px 0px;
        flex-flow: column wrap;
        justify-content: flex-start;
        border-top: solid 2px #d0d4d8;
    }
    .plans-mobile__more-btn {
        display: flex;
        position: relative;
        width: 100%;
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6d7987;
    }
    .plans-mobile__more-btn::after {
        content: "";
        position: absolute;
        right: 0;
        width: 12px;
        height: 7px;
        top: 3px;
        background: url('../img/angle-down.svg') no-repeat center center;
        background-size: 12px;
    }
    .plans-mobile__more-btn.active::after {
        content: "";
        position: absolute;
        right: 0;
        width: 12px;
        height: 7px;
        top: 3px;
        background: url('../img/angle-down.svg') no-repeat center center;
        transform: rotate(180deg);
        background-size: 12px;
    }
    .plans-mobile__more-list {
        display: none;
        position: relative;
        width: 100%;
        padding: 20px 0px 0px;
        flex-flow: column wrap;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .plans-mobile__more-list.show {
        display: flex;
    }
    .plans-mobile__more-list li {
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #273f5b;
        margin-bottom: 4px;
        padding-right: 0%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        line-height: normal;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #ffffff;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 100vh;
        -ms-flex-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding-top: 100px;
    }
    .justify-content-end .nav-item {
        display: flex;
        position: relative;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
    }
}

@media (min-width: 2560px) {
    .main-screen__bottom-corner-big {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 290px;
        z-index: 2;
    }
    .main-screen__bottom-corner {
        display: flex;
    }
    .main-screen__title {
        font-size: 48px;
        padding: 0 16%;
    }
    .main-screen__subtitle {
        display: flex;
        position: relative;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 64px;
        padding: 0 26%;
    }
    .page-text {
        font-size: 18px;
        line-height: 1.56;
    }
    .fillyourpower-screen__icon-text {
        font-size: 18px;
        line-height: 1.56;
    }
    .fillyourpower-screen__pirate {
        display: flex;
        position: absolute;
        width: 700px;
        right: 100px;
        z-index: 4;
        top: 45px;
    }
    .fillyourpower-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 700px;
        right: 0px;
        z-index: 3;
        top: -141px;
    }
    .fillyourpower-screen {
        display: flex;
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 94px 0px 0px;
    }
    .pt-190 {
        padding-top: 250px;
    }
    .savehours-screen__pirate {
        display: flex;
        position: absolute;
        height: 870px;
        left: 200px;
        z-index: 4;
        top: 135px;
    }
    .savehours-screen__pirate-bg {
        display: flex;
        position: absolute;
        width: 750px;
        left: 0px;
        z-index: 3;
        top: 106px;
    }
    .savehours-screen {
        display: flex;
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 274px 0px 400px;
    }
    .products-screen__tab-text {
        font-size: 18px;
        line-height: 1.56;
    }
    .products-screen__tab-title {
        font-size: 34px;
    }
    .takeyourplace-screen__pirate {
        display: flex;
        position: absolute;
        width: 82%;
        right: 0px;
        top: -9px;
    }
    .takeyourplace-screen {
        padding: 100px 0px 180px;
    }
    .extracash-screen__title {
        font-size: 48px;
    }
    .extracash-screen__suptitle {
        font-size: 18px;
    }
    .customereview-screen__review-text {
        font-size: 20px;
        line-height: 1.8;
    }
    .mentioned-screen__content-box {
        display: flex;
        position: relative;
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0 30px 60px 0 rgba(116, 125, 132, 0.16);
        background-color: #ffffff;
        padding: 60px 120px 30px;
        justify-content: center;
        align-content: center;
    }
    .plans-screen__plan-name {
        font-size: 18px;
        margin-bottom: 36px;
    }
    .plans-screen__plan-websites {
        font-size: 18px;
        line-height: 1.33;
    }
    .plans-screen__plan-websites-caption {
        font-size: 16px;
    }
    .plans-container {
        top: -158px;
    }
    .plans-screen__plan-name-mul {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .plans-screen__list li {
        padding-right: 26%;
    }
    .integrations-screen__block-col-header {
        font-size: 20px;
    }
    .integrations-screen__block-col-text {
        font-size: 18px;
        line-height: 1.78;
    }
    .integrations-screen__block-col-header2 {
        font-size: 20px;
    }
    .integrations-screen__header {
        font-size: 20px;
        line-height: 1.2;
    }
    .news-screen__news-title {
        font-size: 20px;
    }
    .news-screen__news-announce {
        font-size: 16px;        
        line-height: 1.63;
    }
    .news-screen__news-date {
        font-size: 16px;
    }
    .footer__menu li a {
        font-size: 16px;
        line-height: 2;
    }
    .footer__link {
        font-size: 16px;
        line-height: 2;
    }
    .products-screen__tab-link {
        font-size: 16px;
    }
}